[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/vim-preview"]
	path = bundle/vim-preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
